.sidebar-top-section {
  display: flex;
  flex-direction: column;
}
.sidebar-logo-section {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: center;
}
.sidebar-logo {
  width: 100%;
  height: auto;
  align-self: center;
}
.sidebar-menu-1 {
  display: inline-flex;
  flex-direction: column;
}
.sidebar-navlink3 {
  text-decoration: none;
}
.sidebar-menu-2 {
  display: inline-flex;
  flex-direction: column;
}
.sidebar-navlink6 {
  font-size: 13px;
}
.sidebar-menu-21 {
  display: inline-flex;
  flex-direction: column;
}
.sidebar-navlink7 {
  font-size: 13px;
}
.sidebar-footer-sidebar {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 60px;
  flex-direction: column;
}
.sidebar-buttons-section {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sidebar-button {
  color: #f5f7f9;
  width: 100%;
  font-size: 14px;
  align-self: center;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  background-color: #5e4d46;
}
.sidebar-text1 {
  font-weight: 600;
}










@media(max-width: 1200px) {
  .sidebar-logo-section {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media(max-width: 767px) {
  .sidebar-root-class-name2 {
    display: none;
  }
}

.employee-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  min-height: 100vh;
}
.employee-page-mobile-logo-section {
  display: none;
  justify-content: center;
}
.employee-page-container01 {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.employee-page-mobile-logo-section1 {
  display: none;
  justify-content: center;
}
.employee-page-box-1 {
  gap: 40px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.employee-page-button {
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.employee-page-button1 {
  color: var(--dl-color-gray-black);
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  padding-top: 10px;
  border-color: var(--dl-color-gray-border);
  border-width: 1px;
  padding-left: 20px;
  border-radius: 4px;
  padding-right: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  background-color: var(--dl-color-gray-background);
}
.employee-page-button1:disabled {
  opacity: 0.5;
}
.employee-page-box-2 {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.employee-page-container02 {
  height: calc(100% - 100px);
  display: flex;
}
.employee-page-container03 {
  gap: 25px;
  width: 60%;
  height: 100%;
  display: flex;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  flex-direction: column;
  padding-bottom: 50px;
}
.employee-page-text {
  width: 100%;
}
.employee-page-container04 {
  display: flex;
  flex-direction: row;
}
.employee-page-container05 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.employee-page-container06 {
  display: flex;
  flex-direction: column;
}
.employee-page-text01 {
  margin-bottom: 10px;
}
.employee-page-textinput {
  width: 400px;
  margin-bottom: 25px;
}
.employee-page-container07 {
  display: flex;
  flex-direction: column;
}
.employee-page-text02 {
  margin-bottom: 10px;
}
.employee-page-select {
  width: 400px;
  margin-bottom: 25px;
}
.employee-page-container08 {
  display: flex;
  flex-direction: column;
}
.employee-page-text03 {
  margin-bottom: 10px;
}
.employee-page-textinput1 {
  width: 400px;
  margin-bottom: 25px;
}
.employee-page-container09 {
  display: flex;
  flex-direction: column;
}
.employee-page-text04 {
  margin-bottom: 10px;
}
.employee-page-textinput2 {
  width: 400px;
  margin-bottom: 25px;
}
.employee-page-container10 {
  align-items: center;
}
.employee-page-container12 {
  display: flex;
  justify-content: space-between;
}
.employee-page-mobile-footer {
  width: 100%;
  bottom: 0px;
  display: none;
  z-index: 99999;
  position: fixed;
}
.employee-page-icon {
  width: 24px;
  height: 24px;
}
.employee-page-icon2 {
  width: 24px;
  height: 24px;
}
.employee-page-icon4 {
  width: 24px;
  height: 24px;
}
@media(max-width: 1600px) {
  .employee-page-mobile-logo-section {
    display: none;
  }
  .employee-page-mobile-logo-section1 {
    display: none;
  }
}


@media(max-width: 767px) {
  .employee-page-mobile-logo-section {
    width: 100%;
    display: flex;
    align-self: center;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-left: 15px;
    border-radius: 4px;
    padding-right: 15px;
    padding-bottom: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .employee-page-logo {
    width: 60%;
  }
  .employee-page-mobile-logo-section1 {
    width: 100%;
    height: 120px;
    display: flex;
    align-self: center;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-left: 30px;
    border-radius: 4px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .employee-page-mobile-footer {
    display: flex;
    justify-content: space-around;
    background-color: #fbfbfb;
  }
}
@media(max-width: 479px) {
  .employee-page-mobile-logo-section {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .employee-page-logo {
    width: 100%;
    height: auto;
    margin-right: 0px;
  }
  .employee-page-mobile-logo-section1 {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
  }
  .employee-page-logo1 {
    margin-right: 0px;
  }
  .employee-page-box-1 {
    width: 100%;
    margin-right: 0px;
    flex-direction: column;
  }
  .employee-page-button {
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
  }
  .employee-page-button1 {
    width: 100%;
  }
  .employee-page-mobile-footer {
    height: 120px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.20);;
  }
  .employee-page-box-11 {
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .employee-page-icon {
    fill: #ffa600;
    width: 26px;
    height: auto;
    margin-bottom: 15px;
  }
  .employee-page-heading1 {
    width: 100%;
    font-size: 14px;
    text-align: center;
  }
  .employee-page-box-21 {
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .employee-page-icon2 {
    fill: #0a51a1;
    width: 26px;
    height: auto;
    margin-bottom: 15px;
  }
  .employee-page-heading2 {
    width: 100%;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
  }
  .employee-page-box-3 {
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .employee-page-icon4 {
    fill: #018837;
    width: 26px;
    height: auto;
    margin-bottom: 15px;
  }
  .employee-page-heading3 {
    width: 100%;
    font-size: 14px;
    text-align: center;
  }
}
