<div>
  <link href="./pagination.css" rel="stylesheet" />
  <div class="pagination-pagination footer-main">
    <a
      href="https://example.com"
      target="_blank"
      rel="noreferrer noopener"
      class="pagination-link"
    >
      <span>1</span>
    </a>
    <a href="https://example.com" target="_blank" rel="noreferrer noopener">
      <span>2</span>
    </a>
    <a href="https://example.com" target="_blank" rel="noreferrer noopener">
      <span>3</span>
    </a>
    <a href="https://example.com" target="_blank" rel="noreferrer noopener">
      <span>4</span>
    </a>
    <a href="https://example.com" target="_blank" rel="noreferrer noopener">
      <span>5</span>
    </a>
    <a href="https://example.com" target="_blank" rel="noreferrer noopener">
      <span>6</span>
    </a>
    <a href="https://example.com" target="_blank" rel="noreferrer noopener">
      <span>7</span>
    </a>
  </div>
</div>
