<div>
  <link href="./sidebar.css" rel="stylesheet" />
  <div class="sidebar">
    <div class="sidebar-top-section">
      <div class="sidebar-logo-section">
        <img
          alt="image"
          src="public/%D1%80%D0%B5%D1%81%D1%83%D1%80%D1%81%203.svg"
          loading="eager"
          class="sidebar-logo"
        />
      </div>
      <nav class="sidebar-menu-1">
        <a href="index.html" class="menu"><span>Заказы</span></a>
        <a href="invoices.html" class="menu"><span>Накладные</span></a>
        <a href="stock.html" class="menu"><span>Склад</span></a>
        <a href="routes1.html" class="sidebar-navlink3 menu">
          <span>Маршруты</span>
        </a>
        <a href="clients.html" class="menu"><span>Клиенты</span></a>
        <a href="workers.html" class="menu"><span>Сотрудники</span></a>
        <span class="menu"><span>Отчёты</span></span>
      </nav>
      <nav class="sidebar-menu-2">
        <a href="index.html" class="sidebar-navlink6 menu-no-hover">
          <span>···</span>
        </a>
      </nav>
      <nav class="sidebar-menu-21">
        <a href="registration.html" class="sidebar-navlink7 menu">
          <span>Регистрация пользователя</span>
        </a>
      </nav>
    </div>
    <footer class="sidebar-footer-sidebar">
      <div class="sidebar-buttons-section">
        <button type="button" class="sidebar-button">
          <span class="sidebar-text1">
            <span>Выйти из системы</span>
            <br />
          </span>
        </button>
      </div>
    </footer>
  </div>
</div>
